@import url(https://fonts.googleapis.com/css?family=Muli);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Unica+One);


* {
	margin: 0;
	padding:0;
box-sizing: border-box;
}


a {
	text-decoration: none;
}
body {
	font-size: 20px;
	font-family: "Open Sans", sans-serif;
	background-color:#F0F0F0;

}

header{
	background-color: #333B41;
	font-weight: bold;
	padding:1.25em;
	bottom-margin: 2em;
}

main {
	background-color:#F0F0F0;
}

section {
	color: #fff;

}



div {
	font-size: 1.2em;
	display: inline-block;

}

div #contact {
	margin:5em;
}

 p a:link {
 	color:#999;
}

img  {
	width: 100%;
}

.projects img {
	max-width: 474px;
	display: block;
	margin:auto;


}


.projects {
	background-color: #F0F0F0;
	padding: 0.5em;
	float: left; 
	min-height: 20em;
	text-align: left;
	color:#333B41;
	margin: 2%;
	display:block;
	width: 27.6%;
	

}

#projects {
	width:95%;
	margin: 4em;


}
	




h1 {
	font-family: "Source Sans Pro", sans-serif;
	font-size:2.2em;
	padding:0.05em;
	margin:0.05em;
	color: #999;
	}

h2 {
	color: #999;
	align-content: center;

}


footer {
	text-align: center;
	padding: 1em 0;
	background-color:;
	display:block;
}

#lander {
	text-transform:uppercase;
	font-family: 'Unica One', sans-serif;
	font-size:0.7em;
	border:none;
	float:right;




}

#keywords {
	display: block;
	padding:0.5em;
	margin-right: ;
	font-weight: ;
	letter-spacing: 0.1em;
	text-decoration: none;
	margin-left: 20%;

}

#keywords a {
	color: #fff;
	text-decoration:none;
	font-size:1.5em;
	padding:0.5em;
}


#lander a {
		color: #999;
	text-decoration:none;
	padding:0.05em;
	margin:2em;
}
	
#lander a:hover {
	background-color: #4D4D4D;

}


#contact
{
		clear: both;
		background-color: #CCCCCC;
		display:block;
		margin: 2em  0.5em;
		height: 10em;
		
}




#projects p{


}

	

#projects a {
	color:#999; 


}

.role {
	font-family:  "Muli", sans-serif;
	font-weight: bolder;
}

img + p {
	font-weight: bold;
}

#certificates {

	clear: both;
	display: block;
	color: #4D4D4D;
	margin: 2em 0.5em;
	text-transform: capitalize;
	font-weight: bold;
	align-items:stretch;

}



/*#form article {
	height: 10em;
	width: 40em;
	margin: 2em 10em;
}*/

.wrapper {
	background-color:#999;
	width:97%;
	margin:1.5%;

}

#yourmessage {

}