@import url(https://fonts.googleapis.com/css?family=Muli);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Unica+One);


* {
	margin: 0;
	padding:0;
box-sizing: border-box;
}


a {
	text-decoration: none;
}
body {
	font-size: 20px;
	font-family: "Open Sans", sans-serif;
	background-color:#999;
	background-color:#F0F0F0;


}

header{
	background-color: #333B41;
	font-weight: bold;
	padding:1.25em;
	bottom-margin: 2em;
}

main {
	background-color:#F0F0F0;
}

section {
	color: #fff;

}



div {
	font-size: 1.2em;
	display: inline-block;

}

div #contact {
	margin:5em;
}

 p a:link {
 	color:#999;
}

p {
max-width: 17em;
}
img  {
	width: 100%;
}

.projects img {
	max-width: 474px;
	display: block;
	margin:auto;


}


.projects {
	background-color: #F0F0F0;
	padding: 0.5em;
	float: left; 
	min-height: 20em;
	text-align: left;
	color:#333B41;
	margin: 2%;
	display:block;
	width: 27.6%;
	

}

#projects {
	width:95%;
	margin: 4em;


}
	




h1 {
	font-family: "Source Sans Pro", sans-serif;
	font-size:2.2em;
	padding:0.05em;
	margin:0.05em;
	color: #999;
	}

h2 {
	color: #FFF;
	al

}




footer {
	text-align: center;
	padding: 1em 0;
	background-color:#333B41;
	display:block;
	color:#999;
}

footer a {

color:#999;

}




#keywords {
	display: block;
	padding:0.5em;
	letter-spacing: 0.1em;
	margin-left: 20%;

}

 #keywords div {
	color: #fff;
	font-size:1.5em;
	padding:0.5em;
}

#lander {
	text-transform:uppercase;
	font-family: 'Unica One', sans-serif;
	font-size:0.7em;
	border:none;
	float:right;




}

#lander a {
	color: #999;
	text-decoration:none;
	padding:0.05em;
	margin:2em;
}
	
#lander a:hover {
	background-color: #4D4D4D;

}


#contact
{
		clear: both;
		background-color: #999;
		display:block;
		height: 10em;
		width:97%;
		margin:1.5%;
		
}


	

#projects a {
	color:#999; 


}

.role {
	font-family:  "Open Sans", sans-serif;
	font-weight: bolder;
}

img + p {
	font-weight: bold;
}

#certificates {
	width: 95%
	color: #FFF;
	margin: 1.5%;
	text-transform: capitalize;
	font-weight: bold;
	background-color:#999;


}

/*#certificates p{
	text-align: center;
	
}*/


#certificates {
	text-align: center;
	
}


/*
#contact input {
	display: block;
}*/

textarea {
	width: 100%;

}

.wrapper {
	background-color:#999;
	width:97%;
	margin:1.5%;

}




@media only screen and (max-width: 1360px) {
	#keywords div {
		display:block;
		float:none;
		width:auto;
		font-size: 0.8em; 
		padding: 0;
		margin-left: 0;
	}

	h1 {
		
		font-size: 1.5em;
		text-align: center;

	}

	#lander {
		display: block;
	float:none;
	font-size:1em;
/*	margin:0.5em;
	padding: 0.2em;*/
	}	

	#lander a {
		margin: 0.5em;
		padding:0.2em;
		font-size: 1em;
	}

	header {
		padding:0.2em;
		margin:0.2em;
	}

}

@media only screen and (max-width: 852px) {
.projects {
	background-color: #F0F0F0;
	padding: 0.5em;
	float: none; 
	width: auto;
/*	min-height: 20em;*/
	text-align: center;
	color:#333B41;
	margin: 2%;
/*	display:block;*/
	width: 95%;
	}

	#projects {
		width: 95%;

	}


}


@media only screen and (min-width: 932px) {
	#lander {
	float:none;
	text-align: center;
	font-size:1.5em;
/*	margin:0.5em;
	padding:;*/

	}
}
